// IMPORT BOURBON
@import '../libs/bourbon/_bourbon';

// ASSET VERSION
$assetversion : '20130702';

// COLOR PRESETS

$colorRed : #f00;
$colorYellow : #f6f401;
$colorBlue : #0ff;
$colorGreen : #86a420;

// Z-INDEX PRESETS
$zLow : 10;
$zMiddle : 50;
$zHigh : 100;

// FONT PRESETS
$fontdir : '../fonts/';
$fontBaseSize : 62.5%;
$sitefont : 'LatoRegular', $helvetica;

// SPRITE, IMAGE PRESETS
$svgSprite : '';
$fallbackSprite : '';