// ASSET VERSION
$assetversion : '20130702';

// COLOR PRESETS

$colorRed: #f00;
$colorYellow: #ff0;
$colorBlue: #0ff;
$colorGreen: #0f0;

// Z-INDEX PRESETS
$zLow : 10;
$zMiddle : 50;
$zHigh : 100;

// FONT PRESETS
$sitefont : 'Oswald', 'Helvetica Condensed', $helvetica;

// SPRITE, IMAGE PRESETS
$svgSprite : '';
$fallbackSprite: '';